[submodule ".vim/pack/plugins/start/vim-polyglot"]
	path = .vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/pack/plugins/start/vim-hexedit"]
	path = .vim/pack/plugins/start/vim-hexedit
	url = https://github.com/rootkiter/vim-hexedit
[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/plugins/start/vim-better-whitespace"]
	path = .vim/pack/plugins/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule ".vim/pack/plugins/start/vim-ycm"]
	path = .vim/pack/plugins/start/vim-ycm
	url = https://github.com/ycm-core/YouCompleteMe
