[submodule ".vim/pack/plugins/start/vim-polyglot"]
	path = .vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/pack/plugins/start/vim-hexedit"]
	path = .vim/pack/plugins/start/vim-hexedit
	url = https://github.com/rootkiter/vim-hexedit
